In [ ]:
# Copyright 2021 NVIDIA CORPORATION
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

In [1]:
import os, gc
import pandas as pd, numpy as np
import cudf, cupy
cudf.__version__

'0.19.1'

In [2]:
files = os.listdir('/raid/RecSys/recsys2021/parquet7')
len(files)

218

In [3]:
files[0]

'part-00076.parquet'

In [4]:
df = cudf.read_parquet('/raid/RecSys/recsys2021/parquet7/' + files[0])

In [5]:
df.head()

,hashtags,tweet_id,media,links,domains,tweet_type,language,timestamp,a_user_id,a_follower_count,...,tw_word3,tw_word4,tw_tweet,group,dt_day,dt_dow,dt_minute,len_hashtags,len_links,len_domains
0,0,8352096876372792693,1,0,0,1,4,1613360386,2026655599,16470,...,0,0,886998610,4,15,0,219,0,0,0
1,0,-8525459627881212336,0,0,0,1,5,1612475732,1444935100,2323,...,-108567334,1751012383,397143071,3,4,3,1315,0,0,0
2,-1023107402,3129945711998063314,1,0,0,0,1,1612608099,-1346762649,1517,...,1905683475,0,-1193168549,3,6,5,641,1,0,0
3,0,7359802198861546008,0,0,0,0,1,1612754870,-1153259466,17242,...,-108567334,2056737991,787136804,4,8,0,207,0,0,0
4,0,3839204361802175127,0,0,0,0,7,1613466097,665735905,1149,...,0,0,-2082947804,2,16,1,541,0,0,0

In [6]:
a_user = np.load('overlap_a_user_3_32a.npy')
b_user = np.load('overlap_b_user_3_32a.npy')

In [7]:
a_user = cupy.array(a_user)
b_user = cupy.array(b_user)

In [8]:
p=[]
for k,f in enumerate(files):
    print(k,', ',end='')
    df = cudf.read_parquet('/raid/RecSys/recsys2021/parquet7/' + f)
    df = df.loc[(df.a_user_id.isin(a_user))&(df.b_user_id.isin(b_user))&(df.dt_day<18)]
    p.append(df.to_pandas())

0 , 1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 10 , 11 , 12 , 13 , 14 , 15 , 16 , 17 , 18 , 19 , 20 , 21 , 22 , 23 , 24 , 25 , 26 , 27 , 28 , 29 , 30 , 31 , 32 , 33 , 34 , 35 , 36 , 37 , 38 , 39 , 40 , 41 , 42 , 43 , 44 , 45 , 46 , 47 , 48 , 49 , 50 , 51 , 52 , 53 , 54 , 55 , 56 , 57 , 58 , 59 , 60 , 61 , 62 , 63 , 64 , 65 , 66 , 67 , 68 , 69 , 70 , 71 , 72 , 73 , 74 , 75 , 76 , 77 , 78 , 79 , 80 , 81 , 82 , 83 , 84 , 85 , 86 , 87 , 88 , 89 , 90 , 91 , 92 , 93 , 94 , 95 , 96 , 97 , 98 , 99 , 100 , 101 , 102 , 103 , 104 , 105 , 106 , 107 , 108 , 109 , 110 , 111 , 112 , 113 , 114 , 115 , 116 , 117 , 118 , 119 , 120 , 121 , 122 , 123 , 124 , 125 , 126 , 127 , 128 , 129 , 130 , 131 , 132 , 133 , 134 , 135 , 136 , 137 , 138 , 139 , 140 , 141 , 142 , 143 , 144 , 145 , 146 , 147 , 148 , 149 , 150 , 151 , 152 , 153 , 154 , 155 , 156 , 157 , 158 , 159 , 160 , 161 , 162 , 163 , 164 , 165 , 166 , 167 , 168 , 169 , 170 , 171 , 172 , 173 , 174 , 175 , 176 , 177 , 178 , 179 , 180 , 181 , 182 , 183 , 184 , 185 , 186 , 187 , 188 , 189 , 190 , 191 , 192 , 193 , 194 , 195 , 196 , 197 , 198 , 199 , 200 , 201 , 202 , 203 , 204 , 205 , 206 , 207 , 208 , 209 , 210 , 211 , 212 , 213 , 214 , 215 , 216 , 217 ,

In [9]:
del a_user, b_user, df
gc.collect()

20

In [10]:
df = pd.concat(p)
print( df.shape )
df.head()

(32072447, 60)

,hashtags,tweet_id,media,links,domains,tweet_type,language,timestamp,a_user_id,a_follower_count,...,tw_word3,tw_word4,tw_tweet,group,dt_day,dt_dow,dt_minute,len_hashtags,len_links,len_domains
11,2084627067,7182762654061209728,0,-1915880966,-697687303,1,0,1612684435,654434672,980159,...,-145942859,-708815550,696967756,4,7,6,473,2,2,2
27,0,-5111843561572351606,1,0,0,0,15,1613168589,-36405175,21866,...,-108567334,-108567334,1688824313,4,12,4,1343,0,0,0
93,-1278824909,-4289301036379686015,2,0,0,2,1,1612688444,-1749993011,287,...,-108567334,-108567334,980692323,1,7,6,540,2,0,0
95,0,-5517345324598539055,0,0,0,0,5,1612791741,1581274456,3815,...,-1764588947,424938562,1183987792,4,8,0,822,0,0,0
120,0,-6950153478203993294,0,0,0,0,7,1613470500,-1017244958,4861512,...,-856152720,-708815550,1006551680,4,16,1,615,0,0,0

In [11]:
df.to_parquet('train6a.parquet')